* {
  margin: 0;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

button {
  background-color: royalblue;
}
/* 
.sprite {
  width: auto;
  height: auto;
}

#pacman svg {
  position: absolute;
  animation: pacman-chomp var(--pacman-chomp-animation-duration) steps(1)
    infinite;
}

#pacman svg[data-frame="1"] {
  animation-delay: 0ms;
}

#pacman svg[data-frame="2"] {
  animation-delay: calc(var(--pacman-chomp-animation-duration) / 2);
}

:root {
  --pacman-chomp-animation-duration: 200ms;
  --pacman-size: 100px;
}

@keyframes pacman-chomp {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
} */
