* {
  margin: 0;
  background-color: black;
  color: white;
}

.sprite {
  position: absolute;
  width: var(--pacman-size);
  height: var(--pacman-size);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  outline: 1px solid blue;
  animation: pacman var(--duration) steps(1) infinite;
}

.sprite[data-frame="1"] {
  animation-delay: calc(0 * var(--duration) / var(--frames));
}

.sprite[data-frame="2"] {
  animation-delay: calc(1 * var(--duration) / var(--frames));
}

.sprite-container {
  /* width: 256px;
  height: 256px;
  left: 20px;
  top: 20px;
  position: absolute;
  /* background-color: red; */
  background-color: red;
}

.pixel {
  /* outline: 1px solid red; */
}

.pixel-yellow {
  background-color: yellow;
}

.pixel-transparent {
  background-color: transparent;
}

:root {
  --frames: 2;
  --duration: 500ms;
  --pacman-size: 100px;
}

@keyframes pacman {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
